# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
*.db
.vs/Morpheus-Engine/v16/Solution.VC.db
.vs/Morpheus-Engine/v16/Browse.VC.db
.vs/Morpheus-Engine/v16/.suo
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.idb
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.log
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.pdb
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib-link.read.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib-link.write.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib.command.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Morpheus-Core.lastbuildstate
bin-int/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.vcxproj.FileListAbsolute.txt
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.log
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.command.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.read.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.write.1.tlog
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/Morpheus-Sandbox.lastbuildstate
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/vc142.idb
bin-int/Debug-windows-x86_64/Morpheus-Sandbox/vc142.pdb
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.log
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.pdb
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.command.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.read.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/CL.write.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib-link.read.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib-link.write.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Lib.command.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Core/Morpheus-Core.tlog/Morpheus-Core.lastbuildstate
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.log
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.command.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.read.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/CL.write.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.command.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.read.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/link.write.1.tlog
bin-int/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.tlog/Morpheus-Sandbox.lastbuildstate
bin-int/Release-windows-x86_64/Morpheus-Sandbox/vc142.pdb
bin/Debug-windows-x86_64/Morpheus-Core/Morpheus-Core.pdb
bin/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.ilk
bin/Debug-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.pdb
bin/Release-windows-x86_64/Morpheus-Sandbox/Morpheus-Sandbox.pdb
/.vs/Morpheus-Engine/v16
